{% extends 'base.html' %}
{% load blog_extras %}

{% block content %}
<h2>Blog</h2>
{% if perms.blog.add_blog %}
<a href="{% url 'create_post' %}">Create new post</a>
{% endif %}

<div class="blog-list">

    {% for instance in page_obj %}
        {% if instance|model_type == 'Blog' %}
            {% include 'blog/partials/blog_snippet.html' with blog=instance %}
        {% endif %}
    {% endfor %}

</div>

<div class="pagination">
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1"><< First</a>
        <a href="?page={{ page_obj.previous_page_number }}">< Previous</a>
        {% endif %}
    </span>
    <span>
        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>
    <span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next ></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">End >></a>
        {% endif %}
    </span>
</div>

{% endblock content %}