{% extends 'base.html' %}
{% load blog_extras %}

{% block content %}
<h2>Blog</h2>
{% if perms.blog.add_blog %}
<a href="{% url 'create_post' %}">Create new post</a>
{% endif %}

<div class="blog-list">

    {% for blog in blogs %}
        {% if blog|model_type == 'Blog' %}
        <div class="post">
            <a href="{% url 'blog_post' blog.id %}">
                <h2>{{ blog.title }}</h2>
                <img src="{{ blog.photo.image.url }}">
                <p>
                    {{ blog.word_count }} words 
                    and written by {% get_poster_display blog.contributors.first %}
                </p>
                <p>
                    Published {{ blog.date_created|get_posted_at_display }}
                </p>
            </a>
        </div>
        {% endif %}
    {% endfor %}

</div>

{% endblock content %}