{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FotoBlog</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>FotoBlog</h1>
        <p>Hi, {{ user }}!</p>
        {% if user.profile_photo %}
        <img src="{{ user.profile_photo.url }}" alt="Profile photo" />
        {% else %}
        <img src="{% static 'default.jpg' %}" alt="Profile photo" />
        {% endif %}
        <menu >
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'create_post' %}">Create blog post</a></li>
                <li><a href="{% url 'profile_photo' %}">Update profile photo</a></li>
                <li><a href="{% url 'change_password' user.username %}">Update password</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </menu>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>